html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.divider-gray {
    border: none;
    border-top: 2px solid #505050;
    /* orange */
    opacity: 0.75;
}

.pc a {
    font-weight: 400;
    font-size: 20px;
}

.landing-screen {
    min-height: 300px;
    background-image: url('img/voxel-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mcmodels a {
    text-decoration: none;
    color: rgb(109, 109, 109);
}

/** PC */
@media (min-width: 768px) {
    .mobile {
        display: none;
    }

    .landing-screen {
        min-height: 650px;
    }
}

/** Mobile */
@media (max-width: 430px) {
    .pc {
        display: none;
    }

    .landing-screen {
        min-height: 400px;
    }
}