html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.divider-gray {
    border: none;
    border-top: 2px solid #505050;
    /* orange */
    opacity: 0.75;
}

.pc a {
    font-weight: 400;
    font-size: 20px;
}

.landing-screen {
    min-height: 100px;
    background-image: url('../img/header.png');
    background-repeat: repeat-x;
    background-size: auto;
    background-position: 0 center;
}

.card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: transform 0.3s ease;
}

.card:hover .card-img-top {
    transform: scale(1.05);
}

.mcmodels a {
    text-decoration: none;
    color: rgb(109, 109, 109);
}

.mcmodels>.container-fluid {
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.gallery>.container-fluid {
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.custom-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

nav.mobile,
nav.pc {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.custom-thumbnail {
    border: 0px solid transparent;
    width: 200px;
}

.active-thumbnail {
    border: 8px solid rgb(78, 78, 78);
}

.card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.about-me img {
    transition: transform 0.3s ease;
}

.about-me img:hover {
    transform: scale(1.1);
}

.thumbBar {
    overflow: hidden;
    transition: transform 0.3s ease;
}

.thumbBar:hover {
    transform: scale(1.1);
}


/** Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        padding-top: 130px;
    }

    .mobile {
        display: none;
    }

    .landing-screen {
        min-height: 700px;
        background-image: url('../img/header.png');
        background-repeat: repeat-x;
        background-size: 250%;
        background-position: center;
    }

    .custom-padding {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    iframe {
        height: 750px;
    }

    .w-70 {
        width: 85%;
        margin: 0 auto;
    }


    .custom-thumbnail {
        width: 200px;
    }

    .models {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/** PC */
@media (min-width: 1025px) {
    body {
        padding-top: 130px;
    }

    .mobile {
        display: none;
    }

    .landing-screen {
        min-height: 800px;
        background-image: url('../img/header.png');
        background-repeat: repeat-x;
        background-size: 120%;
        background-position: center;
    }

    .custom-padding {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    iframe {
        height: 750px;
    }

    .w-70 {
        width: 85%;
        margin: 0 auto;
    }


    .custom-thumbnail {
        width: 200px;
    }

    .me-render {
        width: 50px;
    }

    .models {
        padding-left: 8px;
        padding-right: 8px;
    }
}

/** Mobile */
@media (max-width: 767px) {
    body {
        padding-top: 80px;
    }

    .pc {
        display: none;
    }

    .landing-screen {
        min-height: 400px;
        background-image: url('../img/header.png');
        background-repeat: repeat-x;
        background-size: 340%;
        background-position: center;
    }

    iframe {
        height: 200px;
    }

    .w-70 {
        width: 100%;
        margin: 0 auto;
    }

    .me-render {
        transform: translateX(-35px);
    }

    .models {
        padding-left: 8px;
        padding-right: 8px;
    }
}